# CityBikes

Send a request to CityBikes for the city of your choice.

In [1]:
import requests
import os
import pandas as pd

In [2]:
url = "http://api.citybik.es/v2/networks/"
id = "mobibikes"
result = requests.get(url+id)

In [ ]:
#project

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [3]:
cityBikes_vancouver = result.json()['network']['stations']

name = []
latitude = []
longitude = []
free_bikes = []
for stations in cityBikes_vancouver:
    name.append(stations['name'])
    latitude.append(stations['latitude'])
    longitude.append(stations['longitude'])
    free_bikes.append(stations['free_bikes'])

BikeStation = {'name': name,
              'latitude' : latitude,
              'longitude' : longitude,
              'free_bikes' : free_bikes
             }

Put your parsed results into a DataFrame.

In [4]:
df_BikeStation = pd.DataFrame(BikeStation)
df_BikeStation.to_csv('../data/CityByke.csv')
df_BikeStation

                            name   latitude   longitude  free_bikes
0                  10th & Cambie  49.262487 -123.114397           9
1    Yaletown-Roundhouse Station  49.274566 -123.121817           4
2              Dunsmuir & Beatty  49.279764 -123.110154          10
3       12th & Yukon (City Hall)  49.260599 -123.113504           6
4                      8th & Ash  49.264215 -123.117772          12
..                           ...        ...         ...         ...
240  PNE - Hastings & Windermere  49.280977 -123.035969           4
241                    1st & Fir  49.270783 -123.141564          18
242               Sasamat & 10th  49.264019 -123.209176           5
243                Trimble & 8th  49.265800 -123.205960           1
244               Highbury & 8th  49.265442 -123.187738           4

[245 rows x 4 columns]